
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-16: 16px;
$radius-100: 100%;
$red-90: #7a0602;
$red-80: #ac0802;
$red-70: #cb0b04;
$red-60: #e60505;
$red-50: #ec0c0c;
$red-40: #f42c2c;
$red-30: #fa4147;
$red-20: #fd656a;
$red-10: #ffa3a6;
$red-5: #ffd4d6;
$red-0: #fff7f8;
$orange-100: #4d2309;
$orange-90: #bf4400;
$orange-80: #ee6c00;
$orange-70: #f57b02;
$orange-60: #fb8b01;
$orange-50: #fc9b0a;
$orange-40: #fca41e;
$orange-30: #fcb54c;
$orange-20: #fec780;
$orange-10: #ffdbb2;
$orange-5: #fff2e0;
$orange-0: #fcfaf7;
$yellow-100: #332205;
$yellow-90: #faa701;
$yellow-80: #fab801;
$yellow-70: #fac000;
$yellow-60: #fac800;
$yellow-50: #fad105;
$yellow-40: #fadb0f;
$yellow-30: #fae637;
$yellow-20: #f9ee70;
$yellow-10: #faf4b2;
$yellow-5: #faf7d4;
$yellow-0: #fcfaf2;
$gray-100: #141414;
$gray-90: #2e2e2e;
$gray-80: #3d3d3d;
$gray-70: #5e5e5e;
$gray-60: #737373;
$gray-50: #8d8d8d;
$gray-40: #b6b6b6;
$gray-30: #d6d6d6;
$gray-20: #e0e0e0;
$gray-10: #ebebeb;
$gray-5: #f2f2f2;
$gray-0: #f7f7f7;
$cool-gray-100: #1a1b1f;
$cool-gray-90: #1e1f23;
$cool-gray-80: #2b2c30;
$cool-gray-70: #404248;
$cool-gray-60: #5e626a;
$cool-gray-50: #838892;
$cool-gray-40: #a7adb8;
$cool-gray-30: #c0c7d1;
$cool-gray-20: #d3dae6;
$cool-gray-10: #e0e6ed;
$cool-gray-5: #f2f4f5;
$cool-gray-0: #f7f9fa;
$navy-100: #030614;
$navy-90: #0e1a4d;
$navy-80: #142568;
$navy-70: #1c3391;
$navy-60: #223eb0;
$navy-50: #2b4ac7;
$navy-40: #3a5fd6;
$navy-30: #4f78e8;
$navy-20: #8badf0;
$navy-10: #d6e4fe;
$navy-5: #ebf2fa;
$navy-0: #f7f8fa;
$blue-100: #030b14;
$blue-90: #0c253f;
$blue-80: #15416b;
$blue-70: #1c578d;
$blue-60: #2572b7;
$blue-50: #348ad6;
$blue-40: #489ae4;
$blue-30: #6ab4ed;
$blue-20: #b0d4f4;
$blue-10: #d2e9fa;
$blue-5: #edf3f7;
$blue-0: #f8f9fa;
$green-100: #000806;
$green-90: #01271c;
$green-80: #034530;
$green-70: #086c45;
$green-60: #128c55;
$green-50: #23a665;
$green-40: #51b86c;
$green-30: #6dcf7a;
$green-20: #96e398;
$green-10: #b7edb7;
$green-5: #ddf6dd;
$green-0: #f5faf7;
$black: #000000;
$white: #ffffff;
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-42: 42px;
$font-size-60: 60px;
$font-size-84: 84px;
$font-size-100: 100px;
$space-0: 0px;
$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-60: 60px;
$space-100: 100px;

